<div class="info">

    <div align="center" style="width: 20%;
    height: 25%;
    position: absolute;
    left: 7%;
    top: 24%;
    background: linear-gradient(to left, rgba(2, 195, 154, 0.8), #028090);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(1)">

        <span class="page_list_text">园区分布</span>

    </div>

    <div align="center" style="    width: 20%;
    height: 25%;
    position: absolute;
    left: 29%;
    top: 24%;
    background: linear-gradient(to left, #ffb26d, #db555a);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(2)">
        <span class="page_list_text">电量统计</span>

    </div>


    <div align="center" style="width: 20%;
    height: 25%;
    position: absolute;
    right: 29%;
    top: 24%;
     background: linear-gradient(to left, #47a1ed, #6591b5);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(3)">
        <span class="page_list_text">用水量统计</span>


    </div>

    <div align="center" style="width: 20%;
    height: 25%;
    position: absolute;
    right: 7%;
    top: 24%;
    background: linear-gradient(to left, #9575de, #b882ee);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(4)">

        <span class="page_list_text">化肥用量</span>

    </div>


    <div align="center" style="    width: 20%;
    height: 25%;
    position: absolute;
    left: 7%;
    top: 53%;
    background: linear-gradient(to left, #39c288, #2b7d9c);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(5)">

        <span class="page_list_text">环境监控</span>

    </div>

    <div align="center" style="    width: 20%;
    height: 25%;
    position: absolute;
    left: 29%;
    top: 53%;
    background: linear-gradient(to left, #ffb26d, #db555a);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(6)">
        <span class="page_list_text">园区生产</span>

    </div>


    <div align="center" style="width: 20%;
    height: 25%;
    position: absolute;
    right: 29%;
    top: 53%;
     background: linear-gradient(to left, #47a1ed, #6591b5);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(7)">

        <span class="page_list_text">订单劳动力</span>

    </div>

    <div align="center" style="width: 20%;
    height: 25%;
    position: absolute;
    right: 7%;
    top: 53%;
    background: linear-gradient(to left, #9575de, #b882ee);
    border-radius: 30px;cursor: pointer" ng-click="fn_go_page(8)">
        <span class="page_list_text">库存采购</span>


    </div>


    <!--<div class="block_div_title">-->
    <!--<div class="block_div_title_text">库存详情</div>-->
    <!--</div>-->
</div>
