<div class="info" style="background:none;">

    <div id="earth" style="width:1400px;height:650px;opacity: .3;margin:0 auto;">
    </div>

    <div id="dataCompare" style="position: absolute;left: 100px;width:90%;height:600px;">
    </div>

    <!--<div class="dataCompare_1" id="dataCompare_right">-->
        <!--<i style="display: block;margin-bottom:10px;font-size:15px;">-->
            <!--叶菜实验类型 <br/>-->
            <!--<i style="margin-left:15px;">-->
                <!--叶菜实验传感器数据：-->
            <!--</i>-->
        <!--</i>-->
        <!--<div id="id_sensors">-->
            <!--<div class="oneLine_ellipsis"-->
               <!--ng-repeat="list in arr_sensor"-->
               <!--ng-click="fn_curr_sensor_index($index)" title="{{ list.id }}">-->
                <!--&nbsp;-->
                <!--<input type="checkbox" ng-checked="$index == curr_sensor_index" style="width:30px;pointer-events: none" />-->
                <!--{{ list.name }}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>